.experiencia{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:100px;
}

.experiencia .subtitulo{
  color: #e0e0e0e0;
}

.experiencia-texto{
  font-size:1.5rem;
  line-height: 1.33;
  max-width: 40ch; /* definir o tamanho máximo do texto */
  margin-bottom: 60px;
  color:#525252;
}
.experiencia-texto strong{
  color: #141414;
}

.empresa{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:10px 20px; /* 1º valor da distância na veritcal e o 2º valor da distância na horizontal. */
  padding:20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius:4px;
  position:relative;
}
.empresa::before{
  content:" ";
  display:block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829,#67dd0a);
  position: absolute;
  top:20px;
  left: -4px;
}
.empresa-ano{
  position: absolute; /* retirar do fluxo padrão dos elementos*/
  top:22px; /* define o valor no topo onde o elmento ficará */
  text-align:right; /* alinha o texto para direita */
  width: 80px; /* aumentou a largura do elemento para ficar o alinhamento a direita ficar melhor. */
  left:-100px; /* define o valor na esquerda  onde o elemento ficará */
  color:#525252;
  font-size: 0.875rem;
}
.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold; /* o texto ficará em estilo negrito. */
}
.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color:#525252;
}

.empresa-habilidades{
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start; /* alinhar os elementos ao inicio */
}

.empresa-habilidades li{
  font: size 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background:#ffff;
  padding: 5px 10px;
}
/* Parte Responviva da experiencia */
@media (max-width: 800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo{
    color:#141414;
  }
  .experiencia-texto{
    font-size:1.25rem;
  }
  .empresa-ano{
    position:initial; /* fará com que o elemento volte ocupa espaço no layout grid */
    order:1; /*Como os outros elementos não tem order definida ele será inserido por ultimo */
    width: initial;
    text-align: left; /* texto alinhado a esquerda. */
  }
}
@media (max-width: 400px){
  .empresa{
    grid-template-columns: 1fr;
  }
}