.introducao{
  max-width: 1200px;
  padding:40px 20px;
  margin: 0 auto;
  display: grid; /* deixa os elmentos grade bidimensional com linhas e colunas */
  grid-template-columns: 1fr 2fr; /* Divide os elementos do container em colunas */
  gap:100px;
  align-items: center;
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position:relative; /* o elemento Pai deve ser posição relativa  */
}
/*elemento será adiconado atras do texto*/
.introducao h1::before{
  content:" ";
  display: block;
  width:130px; /* largura da imagem detalhe.svg */
  height:100px; /* altura da imagem detalhe.svg */
  background:url("../img/detalhe.svg") no-repeat center ; /* imagem será inserida atras do texto não irá repetir será alinha ao centro */
  position: absolute; /* elemento não ocupa mais espaço no layout os outros elementos se comportam como se ele não existesse */
  top: -15px; /* posiciona o elemento manualmenrte para o topo */
  left:-40px; /* posiciona o elemento manualmente para esquerda */
  z-index: -1; /*elemento fica atras do texto */
}

.introducao p{
  font-size: 1.5rem;
  color:#525252;
}

@media (max-width:1000px){
  .introducao h1{
    font-size:3rem;
  }
}
@media (max-width:800px){
  .introducao h1{
    grid-template-columns: 1fr 1fr;
    gap:40px;
  }
  .introducao h1{
    font-size:2rem;
  }
  .introducao h1::before{
    width: 30px;
    height: 10px;
    left:0px;

  }
}
@media (max-width:400px){

  .introducao{
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none; /*comando para retira um elemento */
  }

}

